<h2>LES DONNNES DES ECLAIRAGES PUBLIC &nbsp; <button class="btn btn-primary" (onclick)="downloadFile()">Récuperer les données au format csv</button></h2>

<div class ="item-container">
  <div class="item" *ngFor="let eclairage of eclairages">
    <div class="item-header">
      <img class="item-logo" src="../../../assets/img/eclairage/logo-eclairage-public.png" alt="logo-eclairage-public">
      <div class="item-header-title">
       <span class="item-title">ECLAIRAGE</span>
       <a class="item-subtitle" [routerLink]="['/eclairage', eclairage.idrecord]">{{eclairage.content | uppercase}}</a>
      </div>
    </div>
    <p>
      <strong>Latitude:</strong> {{eclairage.latitude}} -
      <strong>Longitude:</strong> {{eclairage.longitude}}
    </p>
    <p>
      <strong>Arrondissement :</strong> {{eclairage.arrondissement}} &nbsp;
      <strong>VOIE :</strong> {{eclairage.voie}} &nbsp;
      <strong>Rue :</strong> {{eclairage.rue}}
    </p>
  </div>
</div>
<div class="action">
  <button type="button" class="btn btn-primary">Télécharger CSV</button>
</div>
