<div class="clearfix"></div>
<section class="search-box">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 listing-block">
        <div *ngFor="let eclairage of eclairages" class="media" [routerLink]="['/eclairage', eclairage.idrecord]">
          <img class="d-flex align-self-start"
          src="https://images.unsplash.com/photo-1482164565953-04b62dcac1cd?ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"  
          alt="Generic placeholder image">
          <div class="media-body pl-3">
            <div class="price">
              {{eclairage.arrondissement}}
              <small><i class="fas fa-home text-primary"></i>
                Rue {{eclairage.rue}}&nbsp;- {{eclairage.voie}}</small></div>
            <div class="stats">
              <span><i class="fas fa-map-marker-alt text-danger"></i>Latitude :&nbsp;{{eclairage.latitude}} - Longitude
                :&nbsp;{{eclairage.longitude}}</span>
            </div>
            <div class="address">
              <i class="far fa-lightbulb text-warning"></i> Type d'éclairage : {{eclairage.content}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>