<h2 class='title'>Les donneées des centres&nbsp; 
  <button class="btn btn-primary" (click)="downloadButtonPush()">Récuperer les données au format CSV</button>
</h2>

<div class ="item-container">
  <div class="item" *ngFor="let centre of centres">
    <div class="item-header">
      <img class="item-logo" src="../../../assets/img/centres/logo-centre.jpg/" alt="logo-centre">
      <div class="item-header-title">
       <span class="item-title">Centres</span>
       <a class="item-subtitle" [routerLink]="['/centre', centre.idrecord]">{{centre.center_name}}</a>
      </div>
    </div>
  <p>
    <strong>Activité :</strong> {{centre.activityName}}
  </p>
  <p>
    <strong>Spécialité :</strong> {{centre.speciality}}
  </p>
  <p><strong>Heure d'ouverture :</strong> {{centre.startTime}} - 
     <strong>Heure de fermeture  :</strong> {{centre.endTime}}
  </p>
  
  <p>
    <strong>Adresse:</strong> {{centre.address}} -
    <strong>Téléphone:</strong> {{centre.phoneNumber}}
  </p>
  </div>
</div>
<div class="action">
  <button type="button" class="btn btn-primary">Télécharger CSV</button>
</div>
