<nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" [routerLink]="['/']">
      <img src="../../../assets/img/acceuil/Logo.png" alt="Logo">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/chantiers']" >Chantiers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/eclairages']" >Eclairage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/centres']" >Centres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" data-toggle="modal" data-target="#exampleModal">Envoyer</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Import CSV</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file"  accept=".csv" class="custom-file-input" id="inputGroupFile01">
            <label class="custom-file-label" for="inputGroupFile01">Sélectionner le fichier</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Envoyer</button>
      </div>
    </div>
  </div>
</div>