<div class="clearfix"></div>
<section class="search-box">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 listing-block">
        <div *ngFor="let chantier of chantiers" class="media">
          <img class="d-flex align-self-start"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSiTSXsuP1ZQEbFwyjli86G8q_W44f2H_KHqReJ9lqpInIsR9Vo"
            alt="Generic placeholder image">
          <div class="media-body pl-3">
            <div class="price">
              {{chantier.flux_lamp}}
              <small><i class="fas fa-home text-primary"></i>
                Rue {{chantier.rue}}&nbsp;- {{chantier.voie}}</small></div>
            <div class="stats">
              <span><i class="fas fa-map-marker-alt text-danger"></i>Latitude :&nbsp;{{chantier.latitude}} - Longitude
                :&nbsp;{{chantier.longitude}}</span>
            </div>
            <div class="address">
              <i class="fas fa-truck-pickup"></i> Type de chantier : {{chantier.content}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>