<h2>Les donneées des chantiers&nbsp; 
  <button class="btn btn-primary" (click)="downloadButtonPush()">Récuperer les données au format CSV</button>
</h2>
<div class ="item-container">
  <div class="item" *ngFor="let chantier of chantiers">
    <div class="item-header">
      <img class="item-logo" src="../../../assets/img/chantiers/logo-chantier.png" alt="logo-chantier">
      <div class="item-header-title">
       <span class="item-title">Chantier</span>
       <a class="item-subtitle" [routerLink]="['/chantier', chantier.idrecord]">{{chantier.objet}}</a>
      </div>
    </div>
        <p><strong>Date de début :</strong> {{chantier.date_start}} - 
           <strong>Date de fin :</strong> {{chantier.date_end}}
        </p>
        <p>
          <strong>Maitre d'ouvrage :</strong> {{chantier.maitre_ouvrage}}
        </p>
        <p>
          <strong>Latitude:</strong> {{chantier.latitude}} -
          <strong>Longitude:</strong> {{chantier.longitude}}
        </p>
        <p>
          <strong>Arrondissement :</strong> {{chantier.arrondissement}}
        </p>
      </div>
</div>
<div class="action">
  <button type="button" class="btn btn-primary">Télécharger CSV</button>
</div>
