<h1 class="mt-5 text-center">Sélectionnez votre recherche</h1>
<div class="mt-5">
    <figure class="snip1573 ml-5">
        <img src="https://images.unsplash.com/photo-1482164565953-04b62dcac1cd?ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
            alt="sample89" />
        <figcaption>
            <h3>Eclairage</h3>
        </figcaption>
        <a [routerLink]="['/eclairages']"></a>
    </figure>
    <figure class="snip1573">
        <img
            src="https://images.unsplash.com/photo-1485083269755-a7b559a4fe5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
            alt="sample94" />
        <figcaption>
            <h3>Chantiers</h3>
        </figcaption>
        <a [routerLink]="['/chantiers']"></a>
    </figure>
    <figure class="snip1573">
        <img
            src="https://images.unsplash.com/photo-1519494026892-80bbd2d6fd0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
            alt="sample92" />
        <figcaption>
            <h3>Centre</h3>
        </figcaption>
        <a [routerLink]="['/centres']"></a>
    </figure>
</div>